<nav class="">
	<div class="w-10/12 mx-auto py-5 grid grid-cols-2">
		<a href="/">Aggregate Functions</a>
		<ul class="flex justify-end">
			<li><a href="/">Home</a></li>
			<li><a href="/employee">Employees</a></li>
			<li><a href="/employee/add">Add Employee</a></li>
		</ul>
	</div>
</nav>
