<div class="h-screen grid">
	<div class="w-1/2 mx-auto mt-32">
		<h1 class="text-lg">This application takes advantage of the MySQL aggregate functions listed below</h1>
		<p>Click <a href="/employee" class="text-purple-500 underline font-bold mt-2" rel="noopener noreferrer">here</a> to see how we utilized the functions given.</p>
		<ul style="list-style-type: disc" class="pl-5 mt-4">
			<li>SUM</li>
			<li>COUNT</li>
			<li>AVG</li>
			<li>MIN</li>
			<li>MAX</li>
		</ul>
		<p class="mt-4 font-bold">Colaborators</p>
		<ul style="list-style-type: disc" class="pl-5 mt-4">
			<li>Tyrese Morgan</li>
			<li>Roshane Johnson</li>
			<li>Micheal Leighton</li>
			<li>Donte Patterson</li>
			<li>Jani Mckenzie</li>
			<li>Sanjay Tyndale</li>
		</ul>
	</div>
</div>
